<h2>固定費科目の詳細</h2>

<%= link_to "編集", [:edit, @fixed] %>
<%= link_to "収入科目一覧へ戻る", :fixeds %>

<table>

	<tr>
    <th>名称</th>
    <td><%= @fixed.name %></td>
  </tr>

	<tr>
		<th>説明</th>
		<td><%= @fixed.description %></td>
	</tr>
</table>