<div class="body">

<div class="title">
 <div class="main-title"><%= link_to "kakevo", root_path %></div>
</div>

<div class="income-new">収入科目登録</div>
<%= form_for @income do |form| %>
	<%= render "form", form: form %>
	<div class="register"><%= form.submit "登録" %></div>
<% end %>
</div>